body {
    font-family: 'Raleway', sans-serif;
    color: none;
   
}




.navbar.navbar-inverse {
    background-color: #000000;
    border: none;
    font-family: 'Laila', serif;
    margin-bottom: 0;
    border-radius: 0;
}

.navbar-brand {
    font-style: italic;
    font-family: 'Great Vibes', cursive;
    font-family: 'Tangerine', cursive;
    color: gold;

}

#titelpagina .navbar-inverse .navbar-nav>li>a {
    color: #9d9d9d;
    font-family: 'Great Vibes', cursive;
}

#titelpagina .navbar-inverse .navbar-nav>li>a:hover {
    color: white;
}

.H1 {
     font-family: Tangerine;
    font-size: 40px;
    font-weight: 550;
    text-transform: none;
    letter-spacing: 0px;
    text-decoration: none;
    line-height: 1.2em;
    text-align: center;
    margin: 1em 0 .5em;
    color: #b19b57;
    font-style: italic;
}


.p {
    font-size: 25px;
    text-align: center;
    font-family: 'Tangerine', cursive;
    font-weight: 400em;
    vertical-align: 15px;
    word-spacing: 1.5px;
    color: gray;
    padding-bottom: 15px;
    opacity: 1;
    transition: opacity 4s linear;
}

input {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 25px;
    padding-right: 25px;
    background-color: white;
    border: 3px solid #555;
    font-size: 18px;
}

input:hover {
    background-color: gray;
    color: white;
}

.span:hover {
    background-color: black;
}

/*#footer*/

.contactformulier input {
    border: 3px solid #555;
}

.contactformulier textarea {
    border: 3px solid #555;
}








/*#footer*/


.copyright {
    background-color: #f0f0f0;
}

.copyright p {
    font-size: 12px;
    padding: 15px 0 10px 0;
}







@media(min-width:800px) {
    .title {
        background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("../images/schilderijen/appels.jpg");
        height: 110vh;
        background-size: cover;
        background-color: #f2f2f2;
    }
}

@media(min-width:800px) {
    .fotopaard {
        background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("../images/schilderijen/polopaarden.jpg");
        height: 70vh;
        background-size: cover;
    }
}



/*////////////////////////////////////////////////////*/

