#top,
#bottom,
#left,
#right {
    background: #13521e;
    position: absolute;
}


    
#left,
#right {
    top: 0;
    bottom: 0;
    width: 15px;
}

#left {
    left: 0;
}

#right {
    right: 0;
}

#top,
#bottom {
    left: 0;
    right: 0;
    height: 15px;
}

#top {
    top: 0;
}

#bottom {
    bottom: 0;
}



.titelpagina {
    height: 100vh;
}

/*navbar navbar navbar */
menu {
  position: fixed;
  top: 20px;
  left: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 50px;
  height: 50px;
  background-color: white;
  border-radius: 50%;
  transition: transform 250ms ease;
  cursor: pointer;
  z-index: 200;
}
.menu span {
  position: relative;
  display: block;
  width: 50%;
  height: 2px;
  background-color: #444;
  float: left;
  transform-origin: center center;
  transition: transform 250ms ease;
  z-index: 200;
}
.menu span:nth-of-type(1) {
  transform: translateY(-5px);
}
.menu span:nth-of-type(3) {
  transform: translateY(5px);
}

#menu {
  display: none;
}
#menu:checked ~ .menu {
  background-color: transparent;
  transform: rotate(360deg);
  transition: transform 250ms ease;
}
#menu:checked ~ .menu span {
  background-color: white;
  transition: transform 250ms ease;
}
#menu:checked ~ .menu span:nth-of-type(1) {
  transform: translateY(1px) rotate(45deg);
}
#menu:checked ~ .menu span:nth-of-type(2) {
  display: none;
}
#menu:checked ~ .menu span:nth-of-type(3) {
  transform: translateY(-1px) rotate(-45deg);
}
#menu:checked ~ .nav {
  left: 0px;
  transition: left 500ms ease;
}
#menu:checked ~ main {
  transform: translateX(250px);
  transition: transform 500ms ease;
}

.nav {
  position: fixed;
  top: 0;
  left: -210px;
  width: 300px;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: #444;
  transition: left 500ms ease;
  z-index: 0;
}
.nav ul {
  position: relative;
  list-style-type: none;
  margin: 100px 0;
  padding: 0;
}
.nav ul li {
  position: relative;
  display: block;
  border-bottom: 5px solid white;
}
.nav ul li a {
  position: relative;
  display: block;
  margin: 0;
  padding: 15px 20px;
  color: white;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
}
.nav ul li a:before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  transition: width 250ms ease;
  z-index: -1;
}
.nav ul li a:hover {
  color: #444;
}
.nav ul li a:hover:before {
  width: 100%;
  height: 100%;
  background-color: white;
  transition: width 250ms ease;
}

/*navbar navbar navbar */

.titeltekst {
    font-family: 'Great Vibes', cursive;
    position: center;
    text-align: center;
    font-size: 40px;
    margin-top: 30px;
}


.ad-machielsen {
    color: #807634;
}

.father-column {
    text-align: center;
    position: relative;
}

.father {
    width: 85%;
    height: 100%;
    margin-top: 0%;
    border: ridge;
    filter: grayscale(90%);
}

.layer {
    position: absolute;
    font-family: 'Playfair Display', serif;
    border: ridge;
    top: 55%;
    left: 0;
    right: 0;
    z-index: 3;
    width: 50%;
    margin: 0 auto;
    background-color: rgbs(255, 255, 255, .5);
}

.layer p {
    color: #807634;
}





/* Video {
            position: fixed;
            right: 0;
            bottom: 0;
            min-width: 100%;
            min-height: 100%;
  }
*/

.menupagina {
    height: 100vh;
   
}

.container {
    width: 100%;
    height: 30%;
    position: absolute;
    color: red;
}






.bottom_button {
    margin: 15px;
    border-bottom: 15px;
    opacity: 0.5;
    box-sizing: border-box;
    border-radius: 4px;
    display: block;
    background-color: rgba(129, 187, 201, .85);
    text-align: center;
    padding: 1em .75em;
    text-decoration: none;
    color: #fff;
}



footer {
    height: 20vh;
}

@media only screen and (min-width: 768px) {
    .father {
        width: 70%;
        height: 30%;
        
    }
}

.menu {
  position: fixed;
  top: 20px;
  left: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 50px;
  height: 50px;
  background-color: white;
  border-radius: 50%;
  transition: transform 250ms ease;
  cursor: pointer;
  z-index: 200;
}
