body, html {
  height: 100%;
  margin: 0;
  font: 400 15px/1.8 "Lato", sans-serif;
  color: #777;
}

.navbar.navbar-inverse {
  background-color: #000000;
  border: none;
  font-family: 'Laila', serif;
  margin-bottom: 0;
  border-radius: 0;
}

.navbar-brand {
  font-style: italic;
  font-family: 'Great Vibes', cursive;
  font-family: 'Tangerine', cursive;
  color: gold;

}
.bgimg-1, .bgimg-2, .bgimg-3 {
  position: relative;
  opacity: 0.65;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}
.bgimg-1 {
  background-image: url("../images/muurschilderingen/lionkinggroot.jpg");
  min-height: 100%;
}

.bgimg-2 {
  background-image: url("../images/muurschilderingen/jipenjanneke.jpg");
  min-height: 400px;
}

.bgimg-3 {
  background-image: url("../images/muurschilderingen/kleurvogel.jpg");
  min-height: 400px;
}

.caption {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
}

.caption span.border {
  background-color: #111;
  color: #fff;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 10px;
}

h3 {
  letter-spacing: 5px;
  text-transform: uppercase;
  font: 20px "Lato", sans-serif;
  color: #111;
}

.thirdtext {
  color: #777;
  background-color:black;
  text-align:center;
  height: 80vh;
  padding:50px 80px;
  text-align: justify;
}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1024px) {
    .bgimg-1, .bgimg-2, .bgimg-3 {
        background-attachment: scroll;
    }
}