/*https://coolors.co/a4f4c8-fcf6b1-ffd92e-f72c25-2b1d38 */

/*DIV {*/
/*    opacity: 0;*/
/*}*/
.title {
    background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("../images/schilderijen/pauw.jpg");
    height: 95vh;
    background-size: cover;
}


.h4 {
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}

.overlay:hover {
    background-color: yellow;
}

.welkomstboodschap {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #000;
    animation: fadeUpIn 3s;
}

.welkomstboodschap span.border {
    background-color: transparent;
    color: #fff;
    padding: 18px;
    font-size: 25px;
    letter-spacing: 10px;
    animation: fadeUpIn 3s;
}

.welkomstboodschap p {
    text-shadow: 2px 2px 5px white;
    animation: fadeUpIn 3s;
}

.navbar.navbar-inverse {
    background-color: #000000;
    border: none;
    font-family: 'Laila', serif;
    margin-bottom: 0;
    border-radius: 0;
}

.navbar-brand {
    font-style: italic;
    font-family: 'Great Vibes', cursive;
    font-family: 'Tangerine', cursive;
    color: gold;

}

#titelpagina .navbar-inverse .navbar-nav>li>a {
    color: #9d9d9d;
    font-family: 'Great Vibes', cursive;
}

#titelpagina .navbar-inverse .navbar-nav>li>a:hover {
    color: white;
}

/*{background: #555;}*/

/*.contactgegevens {*/
/*    background-color: #d6d6d6;*/
/*    min-width: 100vw;*/
/*    margin: 0;*/
/*}*/

.fotobox {
    padding-bottom: 23px;
    padding-left: 10px;
}




.diensten h1 {
   padding-top:7%;
   font-family: Tangerine;
   font-size:2em;
   font-weight:550;
   text-transform:none;
   letter-spacing:0px;
   text-decoration:none;
   line-height:1.2em;
   text-align: center;
   margin: 1em 0 .5em;
   color: #b19b57;
   font-style: italic;
}
   
    /*text-shadow: 0px 4px 3px rgba(0,0,0,0.4),*/
    /*           0px 8px 13px rgba(0,0,0,0.1),*/
    /*           0px 18px 23px rgba(0,0,0,0.1);*/


.uitlegdiensten h4 {
    text-align: center;
    font-family: 'Tangerine', cursive;
    font-weight: 400em;
    vertical-align: 15px;
    word-spacing: 1.5px;
    color: gray;
    padding-bottom: 15px;
    opacity: 1;
  transition: opacity 4s linear;
    /*text-shadow: 0px 4px 3px rgba(0,0,0,0.4),*/
    /*           0px 8px 13px rgba(0,0,0,0.1),*/
    /*           0px 18px 23px rgba(0,0,0,0.1);*/
}

/*//////////////*/



/*/////////////*/



.btn {
    background-position: center;
}

.button:hover {
    background: #bcbcc3;
}

.button {
    background-color: gray;
    /* Green */
    background-position: center;
    border-radius: 10px;
    color: white;
    padding: 9px 47px;
    text-align: center;
    text-decoration: blink;
    display: inline-block;
    font-size: 16px;
}




/*overad----*/

#overad {
    Background-color: white;
    Width: 100%;
    Height: 60vh;
}

#overad h1 {
    font-family: 'Tangerine', cursive;
    font-weight: bold;
    color: #758fb7;
    font-size: 3em;
}





    



.contact-section {
    background-color: white;
    padding-bottom: 55px;
}
#contact {
    width: 100vw;
    
}



.contact h1 {
    
    font-family: Tangerine;
    font-size: 3em;
    font-weight: 550;
    text-transform: none;
    letter-spacing: 0px;
    text-decoration: none;
    line-height: 1.2em;
    text-align: center;
    margin: 1em 0 .5em;
    color: #b19b57;
    font-style: italic;
}

.contact hr{
    width: 80%;
}

.contact p {
    text-align: center;
    font-family: 'Tangerine', cursive;
    font-size: 1.5em;
    vertical-align: 15px;
    word-spacing: 1.5px;
    color: gray;
    padding-bottom: 5px;
}

.contactbox input {
    padding: 10px;
    background-color: white;
    border: 3px solid black;
}

.contactbox input:hover {
    background-color: black;
    color:white;
}
.span:hover {
    background-color: black;
}

/*#footer*/

body {
    font-family: 'Raleway', sans-serif;
}

footer {
    background-color: #222222;
    padding: 60px 0px;
    text-align: center;
}

footer ul {
    list-style: none;
    margin: 0 auto;
    display: inline;
    padding-top: 50px;
}

.ib {
    display: inline-block;
}

footer ul li {
    float: left;
}

footer ul li a {
    color: #b1aca1;
    padding: 20px;
}

footer ul li a:hover {
    color: #7dabdb;
    text-decoration: none;
}

.footer-top {
    padding-bottom: 50px;
}

.footer-top .fa {
    font-size: 18px;
    color: #FFF;
    padding-right: 10px;
}

.footer-top a {
    color: #FFF;
    text-decoration: none;
}

.footer-top .col-sm-2:hover .fa,
.footer-top .col-sm-2:hover a {
    color: #7dabdb;
}

.copyright {
    background-color: #f0f0f0;
}

.copyright p {
    font-size: 12px;
    padding: 15px 0 10px 0;
}







@media(min-width:800px) {
    .title {
        background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("../images/schilderijen/appels.jpg");
        height: 110vh;
        background-size: cover;
    }
}

@media(min-width:800px) {
    .fotopaard {
        background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("../images/schilderijen/polopaarden.jpg");
        height: 70vh;
        background-size: cover;
    }
}
