/*https://coolors.co/a4f4c8-fcf6b1-ffd92e-f72c25-2b1d38 */

.title {
    background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("../images/schilderijen/pauw.jpg");
    height: 95vh;
    background-size: cover;
}


.h4 {
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}

.welkomstboodschap {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #000;
}

.welkomstboodschap span.border {
    background-color: transparent;
    color: #fff;
    padding: 18px;
    font-size: 25px;
    letter-spacing: 10px;
}

.welkomstboodschap p {
    text-shadow: 2px 2px 5px white;
}

.navbar.navbar-inverse {
    background-color: #000000;
    border: none;
    font-family: 'Laila', serif;
    margin-bottom: 0;
    border-radius: 0;
}

.navbar-brand {
    font-style: italic;
    font-family: 'Great Vibes', cursive;
    font-family: 'Tangerine', cursive;
    color: gold;

}

#titelpagina .navbar-inverse .navbar-nav>li>a {
    color: #9d9d9d;
    font-family: 'Great Vibes', cursive;
}

#titelpagina .navbar-inverse .navbar-nav>li>a:hover {
    color: white;
}

/*{background: #555;}*/

.contactgegevens {
    background-color: #d6d6d6;
    min-width: 100vw;
    margin: 0;
}

.fa {
    font-family: 'Great Vibes', cursive
}

.contactdetails {
    padding-top: 10px;
}

.top {
    padding-top: 2px;
}

.top2 {
    padding-bottom: 17px;
}


.diensten h1 {
    text-align: center;
    font-family: 'Tangerine', cursive;
    font-weight: bold;
    color: #758fb7;
    font-size: 3em;
    /*text-shadow: 0px 4px 3px rgba(0,0,0,0.4),*/
    /*           0px 8px 13px rgba(0,0,0,0.1),*/
    /*           0px 18px 23px rgba(0,0,0,0.1);*/
}

.uitlegdiensten h4 {
    text-align: center;
    font-family: 'Tangerine', cursive;
    font-weight: bold;
    color: gray;
    /*text-shadow: 0px 4px 3px rgba(0,0,0,0.4),*/
    /*           0px 8px 13px rgba(0,0,0,0.1),*/
    /*           0px 18px 23px rgba(0,0,0,0.1);*/
}

.h3 {
    font-family: 'Great Vibes';
}

.top {
    padding-top: 60px;
}

.bodem {
    padding-bottom: 60px;
}

.landschap{
    width: 300px;
    height: 300px;
    /*border: 7px solid #f1f1f1;*/
    text-align: center;
    background-image: url("../images/schilderijen/koeien.jpg");
    background-size: cover; 
}

/*.overlay {*/
/*    position: absolute;*/
/*    top: 0;*/
/*    left: 10px;*/
/*    right: 10px;*/
/*    bottom: 0;*/
/*    background-color: rgba(89,119,153,0);*/
/*    -webkit-transition: all .35s;*/
/*    -o-transition: all .35s;*/
/*    transition: all .35s;*/
/*}*/


/* .overlay .copy {*/
/*    position: relative;*/
/*    top: 50%;*/
/*    -webkit-transform: translateY(-50%);*/
/*    -ms-transform: translateY(-50%);*/
/*    -o-transform: translateY(-50%);*/
/*    transform: translateY(-50%);*/
/*    color: #FFF;*/
/*    text-align: center;*/
/*    padding: 0 10%;*/
/*}*/

/*.overlay .copy h3 {*/
/*font-family: "Josefin Sans",sans-serif;*/
/*    color: #fff;*/
/*    margin: 0;*/
/*    border: solid 1px #fff;*/
/*    line-height: 100%;*/
/*    padding: 20px;*/
/*    opacity: 0;*/
/*    -webkit-transition: opacity .35s,-webkit-transform .35s;*/
/*    -o-transition: opacity .35s,-o-transform .35s;*/
/*    transition: opacity .35s,transform .35s;*/
/*    -webkit-transition-delay: .2s;*/
/*    -o-transition-delay: .2s;*/
/*    transition-delay: .2s;*/
/*    -webkit-transform: translate(0,15px);*/
/*    -ms-transform: translate(0,15px);*/
/*    -o-transform: translate(0,15px);*/
/*    transform: translate(0,15px);*/
/*}*/
.schilderijrond {
    margin: 0 auto;
    width: 120px;
    height: 120px;
    border: 7px solid #f1f1f1;
    border-radius: 100%;
    text-align: center;
    background-image: url("../images/schilderijen/buizerdjaja.jpg");
    background-size: cover;
}

.muurschilderingrond {
    margin: 0 auto;
    width: 120px;
    height: 120px;
    border: 7px solid #f1f1f1;
    border-radius: 100%;
    text-align: center;
    background-image: url("../images/muurschilderingen/lionkinggroot.jpg");
    background-size: cover;
}

.schilderslesrond {
    margin: 0 auto;
    width: 120px;
    height: 120px;
    border: 7px solid #f1f1f1;
    border-radius: 100%;
    text-align: center;
    background-image: url("../images/schildersles/penseel.jpg");
    background-size: cover;
}

.btn {
    background-position: center;
}

.button:hover {
    background: #bcbcc3;
}

.button {
    background-color: gray;
    /* Green */
    background-position: center;
    border-radius: 10px;
    color: white;
    padding: 9px 47px;
    text-align: center;
    text-decoration: blink;
    display: inline-block;
    font-size: 16px;
}



/*portfolio */

.gallerij {
    Background-color: #222222;
    Width: 100%;
    Height: 107vh;
}

.titelgallerij h1 {
    text-align: center;
    color: #fff;
    padding: 18px;
    font-size: 25px;
    letter-spacing: 10px
}

.fotopaard {
    Background-image: url("../images/schilderijen/moerings.JPG");
    height: 69vh;
    background-size: cover;
}

.ondertitelgallerij a {
    /*padding-top:4px;*/
    height: 95px;
    background-color: transparent;
    color: #fff;
    padding: 18px;
    font-size: 25px;
    letter-spacing: 10px;
}

.onder2titelgallerij {
    font-style: italic;
    color: #9d9d9d;
    font-family: 'Great Vibes', cursive;
    margin-top: -30px;
}

/*overad----*/

#overad {
    Background-color: white;
    Width: 100%;
    Height: 60vh;
}

#overad h1 {
    font-family: 'Tangerine', cursive;
    font-weight: bold;
    color: #758fb7;
    font-size: 3em;
}




.adrond {
    margin: 0 auto;
    width: 120px;
    height: 120px;
    border: 7px solid #f1f1f1;
    border-radius: 100%;
    text-align: center;
    background-image: url("../images/overad/ad.jpg");
    transform: rotate(90deg);
    background-size: cover;
}

.tekstad {
    font-family: 'Tangerine', cursive;
    font-weight: bold;
    color: gray;
}

#prijzen {
    Background-color: #d6d6d6;
    Width: 100%;
    Height: 10vh;
}


#contact {
    width: 100vw;
    Background-color:gray;
}

/*#footer*/

body {
    font-family: 'Raleway', sans-serif;
}

footer {
    background-color: #222222;
    padding: 60px 0px;
    text-align: center;
}

footer ul {
    list-style: none;
    margin: 0 auto;
    display: inline;
    padding-top: 50px;
}

.ib {
    display: inline-block;
}

footer ul li {
    float: left;
}

footer ul li a {
    color: #b1aca1;
    padding: 20px;
}

footer ul li a:hover {
    color: #7dabdb;
    text-decoration: none;
}

.footer-top {
    padding-bottom: 50px;
}

.footer-top .fa {
    font-size: 18px;
    color: #FFF;
    padding-right: 10px;
}

.footer-top a {
    color: #FFF;
    text-decoration: none;
}

.footer-top .col-sm-2:hover .fa,
.footer-top .col-sm-2:hover a {
    color: #7dabdb;
}

.copyright {
    background-color: #f0f0f0;
}

.copyright p {
    font-size: 12px;
    padding: 15px 0 10px 0;
}







@media(min-width:800px) {
    .title {
        background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("../images/schilderijen/appels.jpg");
        height: 110vh;
        background-size: cover;
    }
}

@media(min-width:800px) {
    .fotopaard {
        background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("../images/schilderijen/polopaarden.jpg");
        height: 70vh;
        background-size: cover;
    }
}
