

.col-md-6 {
    padding:0px;
}

/*@media only screen and (max-width: 600px) {*/
/*#carousel-bounding-box {*/
   
/*    padding-left: 0px;*/
/*    padding-right: 0px;*/
/*    }*/
/*}*/
/*@media only screen and (max-width: 600px) {*/
/*    #main_area {*/
/*        display:none;*/
/*    }*/
/*}*/

/*@media only screen and (min-width: 600px) {*/
/*    .mobile {*/
/*        display: none;*/
/*    }*/
/*}*/

.hide-bullets {
    list-style:none;
    margin-left: -40px;
    margin-top:20px;
}

.thumbnail {
    padding: 0;
}

.carousel-inner>.item>img, .carousel-inner>.item>a>img {
    width: 100%;
}


.navbar.navbar-inverse {
    background-color: #000000;
    border: none;
    font-family: 'Laila', serif;
    margin-bottom: 0;
    border-radius: 0;
}

.navbar-brand {
    font-style: italic;
    font-family: 'Great Vibes', cursive;
    font-family: 'Tangerine', cursive;
    color: gold;

}

.h1 {
    text-align: center;
}