.navbar.navbar-inverse {
    background-color: #000000;
    border: none;
    font-family: 'Laila', serif;
    margin-bottom: 0;
    border-radius: 0;
}

.navbar-brand {
    font-style: italic;
    font-family: 'Great Vibes', cursive;
    font-family: 'Tangerine', cursive;
    color: gold;

}

.navbar-inverse .navbar-nav>li>a {
    color: #9d9d9d;
    font-family: 'Great Vibes', cursive;
}

.navbar-inverse .navbar-nav>li>a:hover {
    color: white;
}




footer {
    background-color: #222222;
    padding: 60px 0px;
    text-align: center;
}

footer ul {
    list-style: none;
    margin: 0 auto;
    display: inline;
    padding-top: 50px;
}

.ib {
    display: inline-block;
}

footer ul li {
    float: left;
}

footer ul li a {
    color: #b1aca1;
    padding: 20px;
}

footer ul li a:hover {
    color: #7dabdb;
    text-decoration: none;
}

.footer-top {
    padding-bottom: 50px;
}

.footer-top .fa {
    font-size: 18px;
    color: #FFF;
    padding-right: 10px;
}

.footer-top a {
    color: #FFF;
    text-decoration: none;
}

.footer-top .col-sm-2:hover .fa,
.footer-top .col-sm-2:hover a {
    color: #7dabdb;
}

.copyright {
    background-color: #f0f0f0;
}

.copyright p {
    font-size: 12px;
    padding: 15px 0 10px 0;
}